<nav class="navbar bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <span class="caption nav-bar-button">Dashboard</span>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <span class="nav-link nav-bar-button" [class.invisible]="userRole!=='Admin'" (click)="openUserAssessment()">User assessments</span>
        <span class="nav-link nav-bar-button" [class.invisible]="userRole!=='Admin'" (click)="openUsersList()">Users list</span>
      </div>
      <div class="navbar-nav logout">
        <span class="nav-link nav-bar-button" (click)="logOut()">Logout</span>
      </div>
    </div>
  </div>
</nav>
<h1 class="roleCaption">{{ userRole }}</h1>
<router-outlet></router-outlet>
