.logout {
  margin-right: 10px;
  margin-left: auto;
}

.roleCaption {
  text-align: center;
}

.invisible {
  visibility: hidden;
}

span {
  cursor: pointer;
}

.caption {
  cursor: default;
  margin-right: 20px;
  font-weight: bold;
}

.nav-bar-button {
  color: white;
  font-size: 20px;
}

.navbar {
  padding: 8px 40px;
}
